@charset "UTF-8";

/*navigation bar */
.navbar {
    overflow: hidden;
    background-color: #d6cdbf;
    font-family: georgia, sans-serif;
}

.navbar a {
    float: left;
    font-size: 19px; 
    color: #7a6c58;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
}

.topnav-right {
    float: right;
}

.navbar a:hover {
    color: white; 
    font-weight: bold;
    text-decoration: none;
}

/*Footer*/
footer {
    width: 100%;
    background-color: #d6cdbf;
    padding: 20px 0;
    text-align: center;
    position: relative;
    left: 0;
    bottom:0;
    box-sizing: border-box;
    font-family: georgia, sans-serif;
    font-size: 19px; 
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    font-family: georgia, sans-serif;
}

.footer a {
    font-size: 16px;
    color: #7a6c58;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
}

 .justify-content-center a:hover {
    color: white;
 }
 
/*Footer over*/
body {
    font-family: arial, sans-serif;
    font-size: 12pt;
    color: #2e271e;
    background-color: #f7f3ed !important;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: georgia, sans-serif;
    font-size: 25pt;
    color: #544b40;
    font-weight: bold;
    margin: 20px;
}

h2 {
    font-family: helvetica, sans-serif;
    font-size: 20pt;
    color: #423b32;
    font-weight: bold;
    margin: 20px;
}

h3 {
    font-family: "trebuchet MS", sans-serif;
    font-size: 16pt;
    color: #363028;
    font-weight: normal;
    margin: 20px;
}

p {
    font-family: georgia, sans-serif;
    font-size: 14pt;
    color: #1c1204;
    margin: 20px;
}

/* "what's your name" return answer formatting */
.output-h2 {
    font-family: helvetica, sans-serif;
    font-size: 22pt;
    color: #423b32;
    font-weight: bold;
    margin: 20px;
}

/* link formatting */
a:link, a:visited {
    color: #7a6c58;
    text-decoration: underline;
}

link:hover {
    color: #631700;
    text-decoration: underline;
}

/* table formatting */
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 20px;
    border: 1px solid #ccc
}

.text-wrapper {
    padding: 10px;
    background-color: #fcf7f0;
    border: 1px solid #d9cfc1;
}

.link-wrapper {
    padding: 10px;
    background-color:#ebe3d8;
    border: 1px solid #d6cfc5;
}

td.links {
    width: 50%;
    text-align: left;
}

/* image formating */
.image-container {
    text-align: center !important; 
}

.centred-image {
    cursor: pointer; 
    max-width: 100%; 
    height: auto; 
}

.responsive-image {
    width: 100%;
    height: auto;
}


/* contact form styling */
#contactForm {
    background-color: #d6cdbf;
    padding: 20px;
    border-radius: 8px;
    width: 100%; 
    max-width: 600px; 
    margin: auto; 
    font-family: Georgia, sans-serif;
}

#contactForm label {
    font-weight: bold;
    color:#2e271e;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-top:8px;
    margin-bottom: 15px;
    border: 1px solid #d6cdbf;
    border-radius: 4px;
    box-sizing: border-box;
}

#contactForm input [type="ratio"],
#contactForm input [type="checkbox"] {
    margin-right: 8px;
}

#contactForm button {
    background-color: #7a6c58;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top:10px;
}

#contactForm button:hover {
    background-color: #544b40;
}

/*experience table of contents*/ 
#navbar-example3 .nav-link {
    color: #544b40;
    background-color: transparent; 
    border: none; 
    font-weight: normal; 
    transition: color 0.3s, font-weight 0.3s;
}

#navbar-example3 .nav-link:hover {
    color: #7a6c58;
    font-weight: bold;
    font-size: 17px;
}